{% extends 'ops/base.html' %}
{% block title %} Incidents {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Incidents</h1>
    <a href="{% url 'ops:incident_form' %}" class="btn btn-light mb-3">Add New</a>
    <form action="{% url 'ops:incident_list' %}" method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search..." name="search" value="{{ request.GET.search }}">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>
    <div class="table-responsive mt-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Incident Title</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Status</th>
                    <th scope="col">Severity</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            {% for incident in incidents %}
            <a href="#" class="list-group-item list-group-item-action">
                <tbody>
                    <tr>
                        <th scope="row">{{incident.id}}</th>
                        <td>{{incident.title}}</td>
                        <td>{{ incident.created_at}}</td>
                        <td>{{ incident.status }}</td>
                        <td>{{ incident.severity }}</td>

                        <td>
                            <a href="{% url 'ops:incident_detail' incident.id %}" class="btn btn-sm btn-outline-primary">View</a>
                            <a href="{% url 'ops:incident_update' incident.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ incident.id }}">
                                Delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{ incident.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ incident.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="deleteModalLabel{{ incident.id }}">Confirm Delete</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this incident?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <form method="POST" action="{% url 'ops:incident_delete' incident.id %}" style="display:inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Delete permanently</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </a>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock content %}