<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'ops:index' %}">IMS</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ops:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ops:incident_list' %}">Incidents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ops:postmortem_list' %}">Post-Mortems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ops:service_list' %}">Services</a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item d-flex align-items-center">
                        <span class="navbar-text me-3 text-info">
                            <i class="bi bi-person"></i> {{ user.username }}
                        </span>
                        <form action="{% url 'ops:logout' %}" method="post" class="m-0">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger btn-sm">Salir</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link me-3" href="{% url 'ops:login' %}">Ingresar</a>
                        <a class="btn btn-primary btn-sm px-3" href="{% url 'ops:register' %}">
                            Registrarse
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>