{% extends 'ops/base.html' %}
{% block title %} Post-Mortem {% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Post-Mortem</h1>
        <a href="{% url 'ops:postmortem_form' %}" class="btn btn-light mb-3">Add New</a>
        <form action="{% url 'ops:postmortem_list' %}" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for impact ..." name="search" value="{{ request.GET.search }}">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </form>
        <div class="table-response mt-5">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Impact</th>
                        <th scope="col">Incident Title</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                {% for postmortem in postmortems %}
                <a href="#" class="list-group-item list-group-item-action">
                    <tbody>
                        <tr>
                            <th scope="row">{{ postmortem.id }}</th>
                            <td>{{ postmortem.impact}}</td>
                            <td>{{ postmortem.incident}}</td>
                            <td>{{ postmortem.created_at}}</td>
                            <td>
                                <a href="{% url 'ops:postmortem_detail' postmortem.id %}"
                                    class="btn btn-sm btn-outline-primary">View</a>
                                <a href="{% url 'ops:postmortem_update' postmortem.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ postmortem.id }}">
                                    Delete
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="deleteModal{{ postmortem.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ postmortem.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="deleteModalLabel{{ postmortem.id }}">Confirm Delete</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this post-mortem?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <form method="POST" action="{% url 'ops:postmortem_delete' postmortem.id %}" style="display:inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Delete permanently</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </a>
                {% endfor %}
            </table>
        </div>
        
    </div>
{% endblock content %}